/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  padding: 0px;
  margin:0px;
}fs

html, body { height: 100%; }

body {
  background-color: #eee;
  font: 13.34px Helvetica, Arial, sans-serif;
  padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #AB2332; text-decoration: none}
a:hover   { color: #000; }
/*a:visited { color: ##AB2332; }*/


table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Container
/*
/*****************************************************************************/

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background-color: #FFF;
  font-size: small;  
/*  background-image:url("/images/bjerget.header800x140.png");
  background-repeat:no-repeat;
*/
 }
 
.banner {
  background-image:url("/images/bjerget.header800x140.png");
  background-repeat:no-repeat;
  padding-top:140px;
  clear:both;
 }
 
 

/*****************************************************************************/
/*
/* Credits
/*
/*****************************************************************************/

.credits {
  margin-left: auto;
  margin-right: auto;
  padding-top:3px;
  font-size: x-small;
  width: 800px;
  text-align:center;
  color: #ccc;
  background-color: #eee;
  

}



/*****************************************************************************/
/*
/* ul.posts
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.5em;
  font-size: 90%;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

ul.posts a { 
  color: #AB2332; 
  text-decoration: none;
}

ul.posts a:hover { 
  color: #000; 
  text-decoration: none;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  padding-left:1em;
  padding-right:1em;
  margin-top: auto;
  margin-bottom: auto;  
  line-height: 1.5em;  
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

.header {
  text-align:left;
}

/*****************************************************************************/
/*
/* Post
/*
/*****************************************************************************/

/* standard */
.post {
  color:#555;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.menu {
  float: right;
  margin-left :5px;
  margin-top :5px;
  width:90px;
  background-color: #dfd;
  text-align:left;

}
